<!DOCTYPE html>
<html lang="en" ng-app="demo">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
     <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.js"></script> 
        <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-route.js"></script>
       
    <script src="/node_modules/angular/angular.js"></script>
    <script src="angular-route"> </script>

  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <!--<script>

        let app = angular.module("demo",[])
        app.controller("maincontroller",function($scope,$rootScope){

            $scope.alertme = function() {
                alert("inside alertme function")
            }
        })

      
    </script>-->
    <script src="controllers/maincontroller.js"> </script>

    <title>Angular demo</title>
</head> 
<body ng-app="mainview">
    <!--<div ng-controller="maincontroller">
        4+4 ={{ 4+4 }}
       
      
        <input type="text" ng-model="name" />
        <h1>  {{name}} </h1>
        <button ng-click="alertme()">Alert</button>
    </div>-->

    <h2>Midterm Registration</h2>

    <div class="jumbotron text-center">
    <h1>CS4220 Midterm</h1>
    <h4> Please register your name and module</h4>
    <div class="container">
  
  <button ng-click="welcomePage()" class="btn btn-success">Sign Up</button>
     <p>You have selected. </p>
</div>
</div>

<center><h5>© 2017 CSULA. All Rights Reserved.</h5></center>
    
</body>
</html>